<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--permisos de cámara -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <!--permisos de internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/matesync"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/matesync"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".AppActivities.FinanzasActivity"
            android:exported="false" />
        <activity
            android:name=".AppActivities.ListaCompraActivity"
            android:exported="false" />
        <activity
            android:name=".AppActivities.GrupoDomHomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AppActivities.TareasActivity"
            android:exported="false" />
        <activity
            android:name=".AppActivities.GrupoDomActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivities.RecuperarPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".AuthActivities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AppActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>